<figure {% if full %} class="figure-full" {% endif %}>
  <a href="{{ link  }}" target="{{ target }}">
    <img src="{{ src  }}" alt="{{ alt }}">
  </a>
  <figcaption>
    <h4>{{ title }}</h4>
    <p>{{ caption }}</p>
  </figcaption>
</figure>